body {
    background-image: url("/Images/backgrounds/bg.jpg");
}

.background-black {
    background-color: black;
    color: white;
}

.background-grey {
    background-color: grey;
    color: lavender;
}

.underline {
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.card-bg {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 424px) {
    .card-bg {
        display: flex;
        flex-direction: column;
    }

    .card-bg img {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 425px) and (max-width: 974px) {
    .card-bg img {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: auto;
        /* align-items: center; */
    }

    .card-bg p-card {
        width: 700px;
        margin-left: 15%;
    }
}

@media screen and (min-width: 975px) and (max-width: 991px) {
    .card-bg {
        display: flex;
        flex-direction: row;
        color: grey;
    }

    .card-bg img {
        width: 250px;
        margin: auto;
    }

}

@media screen and (min-width: 992px) {
    .card-bg {
        display: flex;
        flex-direction: row;
        color: grey;
    }

    .card-bg img {
        width: 300px;
    }
}

.bg-blue {
    background-color: #00ADEF;
}

.bg-dark-blue {
    background-color: #1D75BD;
}

#bg-orange {
    background-color: #F7941D;
    border: 3px #F7941D solid;
}

#bg-orange:hover {
    background-color: #F7945A;
}

#bg-green {
    background-color: green;
}

#btn-green {
    display: block;
    background-color: green;
    padding: 0.5rem 1rem;
    color: white;
    margin-left: 1%;
}

#btn-grey {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    background-color: grey;
    padding: 0.5rem 1rem;
    color: white;
}

#btn-green:hover {
    color: white;
}

#VOIA_logo {
    width: 100px;
    height: 100px;
}